*
  box-sizing border-box
  // background rgba(red, 10%) // Debug stuff

*:focus
  outline none

body
  font-size font-size
  font-family font
  color txt-color
  -webkit-font-smoothing antialiased

h1
h2
h3
h4
  font-family title-font
  line-height 1.5
  margin 0

h1
  text-transform uppercase
  letter-spacing 2px
  color title-color

  +not-mobile()
    font-size 2.2em

  +mobile()
    font-size 1.7em

h2
  color darken(title-color, 10%)

  +not-mobile()
    font-size 1.8em

  +mobile()
    font-size 1.5em

h3
  color title-color

  +not-mobile()
    font-size 1.5em

  +mobile()
    font-size 1.3em

h4
  font-size 1.2em
  color title-color

p
  margin 0

strong
  font-weight bold

a
  color link-color
  transition all transition-speed ease-in-out
  text-decoration none

img
  max-width 100%
  height auto

embed
iframe
object
video
  max-width 100%
  display block

ul
ol
  margin 0
  padding 0

table
  width 100%
  border-collapse collapse

// Common Styles

.center
  text-align center

.hidden
  display none

.hide-mobile
  +mobile()
    display none

.show-mobile
  +not-mobile()
    display none

.neutral
  background neutral

.with-margins
  margin-top pad-l
  margin-bottom pad-l

.with-top-margin
  margin-top pad-l

.with-bottom-margin
  margin-bottom pad-l

.cant-scroll
  height 100%
  overflow hidden

.centered-on-mobile
  +not-desktop()
    text-align center

.for-desktop
  +mobile()
    display none

.for-mobile
  +not-mobile()
    display none
