//  ============
//  = Patterns =
//  ============

body
  font-size font-size
  line-height ln-height
  font-family font
  color txt-color

h1
  font-size 1.7em
  line-height 1.2
  padding 1.3em 0 0 0
  text-transform uppercase
  color color-3
  font-weight 700

h2
  color color-3
  font-size 1.5em
  text-transform uppercase
  margin 0
  font-weight 300

h3
  color color-3
  font-size 1.3em
  margin 0 0 1em 0
  text-transform uppercase

p
  margin 1.5em 0

strong
  font-weight bold



//  =================
//  = Common styles =
//  =================

.pull-left
  float left

.pull-right
  float right

.left
  text-align left

.right
  text-align right

.center
  text-align center

.mbt
  margin-top space
  margin-bottom space

.mb
  margin-bottom space

.mt
  margin-top space

.pb
  padding-bottom minispace

.pt
  padding-top minispace

.circle
  border-radius 50%

.shadow
  box-shadow shadow

.hidden
  display none



//  ===========
//  = Borders =
//  ===========

hr
.separator
  border none
  border-bottom border    


//  ===========
//  = Buttons =
//  ===========

button,
input[type=submit],
[class^=button]
  display inline-block
  border-radius radius
  padding 1em
  -webkit-appearance none

.button--main
  background color-2

  &:hover
    transform scale(1.02)
    background #fe582a

.button--second
  background color-1

  &:hover
    background #29d3df

.button--trans
  border border-thickness solid bright

.button--big
  font-size font-size

.button--shadow
  box-shadow shadow


//  =========
//  = Links =
//  =========

//a
  //color color-1

a
button
input[type=submit]
[class^=button]
  transition all transition-speed ease-in-out


//  =========
//  = Forms =
//  =========

input[type=text]
input[type=email]
input[type=date]
input[type=number]
input[type=password]
textarea
  border border-thickness solid neutral
  font-size font-size
  width 100%
  margin 0

input[type=submit]
  cursor pointer
  font-size font-size
  
  &:hover
    background brand-color-hover


//  ==============
//  = Components =
//  ==============

// Add components here