//  ==========
//  = Basics =
//  ==========

a
  text-decoration none

*:focus
  outline none


//  ====================
//  = Column structure =
//  ====================

// Box sizing : border box
*
  box-sizing border-box


// default page wrapper
.wrapper
  margin 0 auto
  padding 0 site-padding
  max-width site-max-width

// clearfix
.wrapper,
.row
  &:after
    content ''
    display block
    clear both

// mandatory class for each column div
.col
  float left
  padding-left col-padding
  padding-right col-padding

// columns sizes
.c1-1
  width 100%
.c1-3
  width 33.33333%
.c2-3
  width 66.66666%
.c1-2
  width 50%
.c1-4
  width 25%
.c3-4
  width 75%
.c1-5
  width 20%
.c2-5
  width 40%
.c3-5
  width 60%
.c4-5
  width 80%

// clears for multilines cols
.repeatable
  .c1-2nth-child(2n+1),
  .c1-3nth-child(3n+1),
  .c1-4nth-child(4n+1),
  .c1-5nth-child(5n+1)
    clear both

// manually clear first block of a line
.first
  clear both
  

//  ========
//  = Flex =
//  ========

.flex-container
  display flex

.f1, .f2, .f3
  padding space
  position relative

.f1
  flex 1

.f2
  flex 2

.f3
  flex 3

.fullwidth
  padding 0 space


//  ==========
//  = Tables =
//  ==========

.table
  display table
  table-layout fixed
  width 100%

.table__cell
  display table-cell
  vertical-align top

.cell--50
  width 50%


//  =====================
//  = Responsive basics =
//  =====================

// fluid images
img
  max-width 100%
  height auto

// Fix for Google Maps UI
.map,
#map-canvas
  img
    max-width inherit

// fluid iframes
embed
iframe
object
video
  max-width 100%
  display block
  


//  =======================
//  = Mobile / Pad basics =
//  =======================

//@media screen and (max-width: 1023px)


// @media screen and (max-width: 767px)
//   .no-small
//     display none !important

//   .c1-2, .c1-3, .c2-3, .c3-4
//     width 100%