//  =============
//  = Variables =
//  =============

// Base structure

site-padding = 10%
col-padding = 30px
space= 50px
site-max-width= 1800px
footer-height= 192px

// Colors

color-1= #60C8D1
color-1-bright= #8FD9DB

color-2= #f3643c

color-3= #44596E

txt-color= #202020
link-color= #08C
hover-color= #F93

neutral= #f8f8f8
bright= #fff
dark= #000

// Fonts

font-size= 16px
title-font= "brandon-grotesque"
font= "proxima-nova"

// Styles

transition-speed= .2s
radius= 8px
border-thickness = 1px
shadow= 0 1px rgba(0,0,0,.1)