// Structure

pad-xs = 12px
pad-s = 20px
pad-m = 40px
pad-l = 56px
pad-xl = 80px

site-max-width = 1600px

// Fonts

font-size = 16px
title-font = "brandon-grotesque"
font = "proxima-nova"
ln-height = 1.4

// Colors

color-1 = #60C8D1 // Brand 1
color-2 = #f3643c // Brand 2
color-3 = #44596E // Brand 3

txt-color = #202020 // Dark grey

neutral = #f8f8f8 // Light Grey


// Styles

transition-speed = .2s
radius = 8px
border-thickness = 1px
shadow = 0 1px rgba(0,0,0,.1)
