sitemap.xml.gz

local_wp-config.php

wp-content/themes/*/local_functions.php
wp-content/themes/*/compass_app_log.txt
wp-content/themes/*/.sass-cache/

*.scssc
wp-content/uploads/wp-migrate-db/

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*