//  ===============================
//  = Modular and reusable styles =
//  ===============================


// Big centered text

.highlight-text {
	font-size: 1.3em;
	line-height: 1.6;
	color: $neutral;
	text-align: center;
}

/*

HTML :

<div class="highlight-text">
	<p><?php the_field('text'); ?></p>
	<p><a href="#" class="button button--color">See more</a></p>
</div>

*/



// TODO : Complete styles
// some ideas :

// Testimonials