//  ============
//  = Patterns =
//  ============

body {
	background-color: $light;
	font-size: $font-size;
	line-height: 1.4;
	font-family: $font;
	color: $text-color;

	@include mq-min-max($screen, $largescreen) {}
	@include mq-max($mobile) {}
}

h1 {
	font-size: 2em;
	margin: 0 0 1.5em 0;
}

h2 {
	font-size: 1.6em;
	margin: 0 0 1.5em 0;
}

h3 {
	font-size: 1.3em;
	margin: 0 0 1em 0;
}

p {
	margin: 1.5em 0;
}

img {

}


//  =================
//  = Common styles =
//  =================

.no-ma {
	margin: 0;
}

.ma-t {
	margin-top: $col-padding;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.image-left {
	float: left;
}

.image-right {
	float: right;
}

.radius {
	border-radius: $radius;
}


//  ============
//  = Sections =
//  ============

.section--contrast {

}

.section--alt {

}


//  ==========
//  = Titles =
//  ==========

.title--main {

}

.title--contrast {

}

//  =========
//  = Texts =
//  =========

.text--contrast {

}

.text--brand {

}

.text--alt {

}


//  ===========
//  = Buttons =
//  ===========

.button, input[type=submit], a[rel *=attachment] {
	display: inline-block;

	&:hover {

	}

	&:focus {
		outline: 0;
	}
}

.button--brand {

}

.button--alt {

}

.button--big {
	font-size: 1.5em;
}

.button--full-width {
	width: 100%;
}


//  =========
//  = Links =
//  =========

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color $transition-speed ease-in-out);

  &:hover { color: $hover-color; }
}


//  =========
//  = Lists =
//  =========

%unlist {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		float: left;
	}

	a {
		display: block;
	}
}


//  ========
//  = Menu =
//  ========

/* TODO : improve for responsive menu */

%menu {
	@extend %unlist;

	> li {
		float:left;

		// menu items
		> a {

		}
	}

	// sub menu items
	.sub-menu {
		display:none;
		position:absolute;
		left: 0;
		top: 100%;

		.sub-menu {
			left:100%;
			top:0;
		}
	}

	// active item
	.active {

	}

	// hover item
	> li:hover > a {

	}

}


//  =========
//  = Forms =
//  =========

input[type=text],
input[type=email],
input[type=password],
textarea {
  @include box-sizing(border-box);
  outline: none;
}

textarea {

}


//  ================
//  = Post content =
//  ================

.post-content {
	a {
		color: $link-color;
		&:hover { color: $hover-color;}

		&[rel *=attachment] {
		}
	}

	ul { list-style-type: circle; }
	ol { list-style-type: decimal; }
	li { margin-left: 2em; }

	// Oembed styles

	.twitter-tweet {
		width: 100%;
	}

 	// Images alignment

	.alignright {
		float: right;
		margin: 1em 0 1em 1em;
	}

	.alignleft {
		float: left;
		margin: 1em 1em 1em 0;
	}

	.wp-caption {
		text-align: center;
		padding: .5em;
		width:auto !important;

		p {
			margin: 0;
			font-size: .7em;
		}
	}

	// Gallery

	.gallery {
		br { clear: none !important; display:none; }
	}

	.gallery-columns-1 .gallery-item { width: 100%; }
	.gallery-columns-2 .gallery-item { width: 50%; }
	.gallery-columns-3 .gallery-item { width: 33.33333333%; }
	.gallery-columns-4 .gallery-item { width: 25%; }
	.gallery-columns-5 .gallery-item { width: 20%; }
	.gallery-columns-6 .gallery-item { width: 16.66666667%; }

	.gallery-item {
		display: block;
		text-align: center;
		margin-bottom: $col-padding / 2;

		img {
			display: block;
		}
	}
}
