//  ==============================
//  = Patterns and common styles =
//  ==============================

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	background-color: $light;
	font-size: $font-size;
	line-height: 1.4;
	font-family: $font;
	color: $text-color;
}

h1 {
	font-size: 2em;
	margin: 0 0 1.5em 0;
}

h2 {
	font-size: 1.6em;
	margin: 0 0 1.5em 0;
}

h3 {
	font-size: 1.3em;
	margin: 0 0 1em 0;
}

p {
	margin: 1.5em 0;
}

img {

}

@include mq-max($mobile) {
	h1 {
		font-size:1.6em;
	}

	h2 {
		font-size:1.4em;
	}

	h3 {
		font-size:1.2em;
	}
}


//  ====================
//  = Column structure =
//  ====================

// default page wrapper
.wrapper {
	margin: 0 auto;
	padding: 0 $site-padding;
	max-width: $site-max-width;
}

// clear for parent with floating children
.wrapper,
.row {
  @include pie-clearfix();
}

// mandatory class for each column div
.col {
	float: left;
	padding: $col-padding;

	// no margin for the last element inside column
	*:last-child
	{
		margin-bottom: 0;
	}
}

// columns sizes
.c1-1 { width: 100%; }
.c1-3 { width: 33.33333333%; }
.c2-3 { width: 66.66666666%; }
.c1-2 { width: 50%; }
.c1-4 { width: 25%; }
.c3-4 { width: 75%; }
.c1-5 { width: 20%; }
.c2-5 { width: 40%; }
.c3-5 { width: 60%; }
.c4-5 { width: 80%; }


// clears for multilines cols
.repeatable {
	.c1-2:nth-child(2n+1),
	.c1-3:nth-child(3n+1),
	.c1-4:nth-child(4n+1),
	.c1-5:nth-child(5n+1)
	{
		clear: both;
	}
}

// manually clear first block of a line
.first {
  clear: both;
}

// some common responsive measures

@include mq-max($mobile) {
	body {
		//font-size:14px; // all texts are smaller
	}

	.col {
		// padding:$col-padding/2; // less padding on cols
	}

	.wrapper {
		//padding-left:$site-padding/2; // padding on sides is smaller on mobile
		//padding-right:$site-padding/2;
	}
}

@include mq-max ($mobile) {
	.c1-2,
	.c1-3, .c2-3,
	.c1-4, .c3-4,
	.c1-5, .c2-5, .c3-5, .c4-5
	{
		width: 100%;
		padding:0 0 $col-padding 0;
	}
}


//  =====================
//  = Responsive basics =
//  =====================


// fluid images
img {
	max-width: 100%;
	height: auto;
	width: auto; // avoid ie8 bug
}

// Fix for Google Maps UI
#map {
	img {
		max-width: inherit;
	}
}

// Box sizing : border box
div,
article,
a,
img {
	@include box-sizing(border-box);
}

// something to hide in mobile
@include mq-max ($mobile) {
	.no-mobile {
		display:none;
	}
}


//  =========
//  = Links =
//  =========

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color $transition-speed ease-in-out);

  &:hover { color: $hover-color; }
}


//  ===========
//  = Buttons =
//  ===========

.button, input[type=submit], a[rel *=attachment] {
	display: inline-block;

	&:hover {

	}
}


//  =========
//  = Lists =
//  =========

%unlist {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		float: left;
	}

	a {
		display: block;
	}
}


//  ========
//  = Menu =
//  ========

/* TODO : improve for responsive menu */

%menu {
	@extend %unlist;

	> li {
		float:left;

		// menu items
		> a {

		}
	}

	// sub menu items
	.sub-menu {
		display:none;
		position:absolute;
		left: 0;
		top: 100%;

		.sub-menu {
			left:100%;
			top:0;
		}
	}

	// active item
	.active {

	}

	// hover item
	> li:hover > a {

	}

}



//  =========
//  = Forms =
//  =========

input[type=text],
input[type=email],
input[type=password],
textarea {
  @include box-sizing(border-box);
  outline: none;
}

textarea {

}


//  ================
//  = Post content =
//  ================

.post-content {
	a {
		color: $link-color;
		&:hover { color: $hover-color;}

		&[rel *=attachment] {
		}
	}

	ul { list-style-type: circle; }
	ol { list-style-type: decimal; }
	li { margin-left: 2em; }

	// Oembed styles

	.twitter-tweet {
		width: 100%;
	}

	iframe {
		width: 100% !important;
	}

 	// Images alignment

	.alignright {
		float: right;
		margin: 1em 0 1em 1em;
	}

	.alignleft {
		float: left;
		margin: 1em 1em 1em 0;
	}

	.wp-caption {
		text-align: center;
		padding: .5em;
		width:auto !important;

		p {
			margin: 0;
			font-size: .7em;
		}
	}

	// Gallery

	.gallery {
		br { clear: none !important; display:none; }
	}

	.gallery-columns-1 .gallery-item { width: 100%; }
	.gallery-columns-2 .gallery-item { width: 50%; }
	.gallery-columns-3 .gallery-item { width: 33.33333333%; }
	.gallery-columns-4 .gallery-item { width: 25%; }
	.gallery-columns-5 .gallery-item { width: 20%; }
	.gallery-columns-6 .gallery-item { width: 16.66666667%; }

	.gallery-item {
		display: block;
		text-align: center;
		margin-bottom: $col-padding / 2;

		img {
			display: block;
		}
	}
}
