//  =============
//  = Variables =
//  =============

// Base structure

$site-padding: 0 15%;
$col-padding: 20px;
$site-max-width: 960px;


// Branding colors

$brand-main-color: #000;
$brand-main-hover:  #000;
$brand-constrast-color: #000;
$brand-constrast-hover: #000;


// Colors

$text-color: #202020;
$hightlight-color : #08C;
$link-color: #08C;
$hover-color: #F93;

$dark : #000;
$light: #fff;


// Base vars

$font-size: 16px;
$background-color: #fff;
$font: 'Helvetica Neue', Arial, sans-serif;


// Responsive

$tablet: 768px;
$mobile: 480px;


// Transitions

$speed: .2s;


// Spacing

$vertical-space: 20px;


// Other


