//  =============
//  = Variables =
//  =============

// Base structure

$site-padding: 10%;
$col-padding: 40px;
$site-max-width: 1800px;


// Branding colors

$brand-main-color: #000;
$brand-main-hover:  #000;
$brand-constrast-color: #000;
$brand-constrast-hover: #000;


// Colors

$text-color: #202020;
$link-color: #08C;
$hover-color: #F93;
$dark : #000;
$light: #fff;


// Base vars

$font-size: 18px;
$background-color: #fff;
$font: 'Helvetica Neue', Arial, sans-serif;
$transition-speed: .2s;
$radius: 2px;


// Responsive

$largescreen: 1280px;
$screen: 1024px;
$tablet: 768px;
$mobile: 480px;


// Other

