.button
button
input[type=submit]
input[type=button]
  display inline-block
  font-size font-size
  padding .7em 1.1em
  border none
  border-radius radius
  cursor pointer
  -webkit-appearance none
  transition all transition-speed ease

  &:hover
    transform translateY(-1px)
    box-shadow 0 3px 5px rgba(black, .2)

.button--main
  background linear-gradient(to bottom, lighten(color-1, 5%), color-1)
  color white

.button--alt
  background color-2
  color white

.button--action
input[type=submit]
input[type=button]
  color white
  background color-3

.button--soft
  background neutral
  color txt-color

.button--transparent
  border 2px solid white
  color white

.button--big
  font-size 1.2em
