input[type=submit]
button
  font-size font-size
  border none
  background transparent
  cursor pointer
  text-transform uppercase
  letter-spacing .5px
  font-weight 500
  box-shadow 0 1px 2px rgba(black, .1)

button
input[type=submit]
[class^=button]
  display inline-block
  border-radius radius
  padding .7em 1.1em
  -webkit-appearance none
  transition all .25s ease
  line-height 1.4

input[type=submit]:hover
button:hover
[class^=button]:hover
  transform translateY(-1px)
  box-shadow 0 3px 5px rgba(black, .2)

input[type=submit]:active
button:active
[class^=button]:active
  box-shadow inset 0 2px 4px rgba(black, .2)
  transform translateY(1px)

.button--main
  background linear-gradient(to bottom, lighten(color-1, 5%), color-1)
  color white
  font-weight bold

.button--alt
  background color-2
  color white
  font-weight bold

input[type=submit]
.button--action
  color white
  background linear-gradient(to bottom, color-3, darken(color-3, 10%))
  font-weight bold

.button--soft
  background neutral
  color txt-color

.button--transparent
  border 2px solid white
  color white

.button--big
  font-size 1.2em
